extends layout

block content
  h1= title
    form(method='POST' action='/new')
      div.form-group
        label(for='name') Name:
        input(type='text', name='name')
      div.form-group
        label(for='message') Message:
        input(type='textarea', name='message')
      div.form-group
        button(type='submit') Create Message